/* external css: flickity.css */
  
  .gallery {
    background: white;
    height: 550;
  }
  
  .gallery-cell {
    width: 950;
    height: 100%;
    margin-right: 10px;
    background: #f9f9f9;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center; 
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  
  .flickity-viewport{
      height: 100% !important;
  }

  h4{
    text-align: center;
  }

  .xAxisLabel, .yAxisLabel{
    font-family: Arial, Helvetica, sans-serif;
  }